/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Audiowide', cursive;*/

body{
  font-family: 'Open Sans', sans-serif;
}

p{
  font-size: 18px;
  line-height: 150%;
}

h2{
  font-weight: 600;
}

.header{
  background-color: purple;
  color: white;
  height: 100px;
  margin-top: 0;
  padding-top: 0;
}

.header h1{
  margin-top: 20px;
}

body, html{
  background-color: #FFFFFF;
}

.left{
  float:left;
  width:400px;
  vertical-align: middle;
}

.right{
  float:right;
  width:400px;
}

.center{
  text-align: center;
}

.rounded{
  border-radius: 25px;
  border: 2px solid;
}

.rounded-corner{
  border-top-left-radius:10px;
  border-top-right-radius:75px;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:75px;
  border: 2px solid;
}

.lanie{
  width : 500px;
}

.margin10{
  margin: 10px;
}

.margin30{
  margin: 30px;
}

.size30{
  font-size: 50px;
}

.wrapper{
  margin-left: 200px;
  margin-right: 200px;
}
