
/*
font-family: 'Inconsolata', ;
font-family: 'Domine', serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Source Serif Pro', serif;
*/


body, html{
  background-color: #303030;
  color: #C1C1C1;
}

body{
  font-family: 'Arvo', serif;
}

/*Bootstrap Overrides*/
.row{
  margin-bottom: 30px !important;
}

.btn-default{
  background-color: #9CE6FF !important;
  background-image: linear-gradient(to bottom,#9CE6FF 0,#9CE6FF 100%) !important;
  border-color: #9CE6FF !important;
  text-shadow: none !important;
}

p{
  font-size: 18px;
  line-height: 150%;
}

h2{
  font-weight: 600;
}

.blog {
  font-family: 'Domine', serif;
  background-color: #FFFFFF;
  padding: 50px;
  border-radius: 55px;
  color: #303030;
}

.portfolio {
  font-family: 'Domine', serif;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 25px;
  color: #303030;
  min-height: 300px;
}

.index-btn{
  color: #303030;
  width: 200px;
  height: 40px;
  margin-bottom: 15px;
}

.margin-top-bottom {
  margin-top: 30px;
  margin-bottom: 50px;
}

.header{
  background-color: purple;
  color: white;
  height: 100px;
  margin-top: 0;
  padding-top: 0;
}

.header h1{
  margin-top: 10px;
  letter-spacing: 9px;
  font-size: 60px;
  color: #FAFAFA;
  line-height: 100px;
}

.left{
  float:left;
  width:400px;
  vertical-align: middle;
}

.right{
  float:right;
  width:400px;
}

.center{
  text-align: center;
}

.rounded{
  border-radius: 25px;
  border: 2px solid #282828;
}

.no-border{
  border: none !important;
}

.rounded-corner{
  border-top-left-radius:10px;
  border-top-right-radius:75px;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:75px;
  border: 2px solid;
}

.lanie{
  width : 500px;
}

.margin10{
  margin: 10px;
}

.margin30{
  margin: 30px;
}

.size30{
  font-size: 50px;
}

.wrapper{
  margin-left: 200px;
  margin-right: 200px;
}
